@import "./src/assets/theme/resource/mixins";
@import "./src/assets/theme/resource/variable";

.user__container {
  height: 100vh;
  @include flex-box(nowrap, flex-start, center);

  app-user-list{
    width: 90%;
    height: 80vh;
    overflow-y: auto;
    &::ng-deep {
      table {
        width: 100%;
        thead {
          background-color: $app-basic-color;
          color: white;
        }

        tbody {
          height: 100%;
          tr.mat-row {
            transition: all 0.2ms ease;
            cursor: pointer;
          }
          tr.mat-row:hover {
            background-color: $app-basic-color;
            color: white !important;
          }
        }
      }
    }
  }
}
